/* utils */
.container {
  max-width: 720px;
  margin: auto;
  overflow: hidden;
}

.container-fluid {
  max-width: 1366px;
  margin: auto;
  overflow: hidden;
}

.btn {
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0.8rem 0.8rem;
  min-width: 5.5rem;
  border-radius: 5px;
}

.btn-small {
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0.4rem 1rem;
  min-width: 5rem;
  border-radius: 2px;
}

.btn-blue {
  background-color: var(--blue-color);
  color: var(--smokegrey-color);
}

.btn-hero {
  color: var(--smokegrey-color);
  border: 3px solid white;
  border-radius: 3px;
  padding: 15px;
}

.btn-hero:hover {
  color: #007bc1;
  background-color: white;
  transition: 0.3s;
}

.btn-orange {
  background-color: var(--orange-color);
  color: white;
  font-weight: bold;
}

.font-normal {
  font-weight: normal;
}

.l-heading {
  font-size: 2.1875rem;
}

.m-heading {
  font-size: 1.875rem;
}

.text-lead {
  font-size: 1.25rem;
}

.text-medium {
  font-size: 1.1rem;
}

/* Padding */
.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

/* margin */
.mt-1 {
  margin-top: 0.5rem;
}

.text-center {
  text-align: center;
}
